<a href="https://colab.research.google.com/github/Ashish-kundu/Project1/blob/main/Web_Scraping_on_SSD_Laptop_in_Flipkart_with_pagination_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import requests
from bs4 import BeautifulSoup as bs
import urllib.request
import pandas as pd
import numpy as np

In [2]:
#for pagination 

list_name = []
list_price=[]
list_rating=[]
list_pic=[]
list_link=[]
url_list=[]

pg_no=int(input("Enter the page number :"))
for i in range(1,pg_no+1):
  url="https://www.flipkart.com/search?q=laptop+ssd+price&sid=6bo%2Cb5g&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_20_na_pm_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_20_na_pm_na&as-pos=3&as-type=HISTORY&suggestionId=laptop+ssd+price%7CLaptops&requestId=ad4a4ef7-7f89-4bd6-9332-be45ed78a278&page="+str(i)
  html_content=requests.get(url)
  data=html_content.content
  data_file = bs(data,'html.parser')
  for name in data_file.find_all("div",class_='_4rR01T'):
    a=name.get_text()
    list_name.append(a)
  for price in data_file.find_all("div",class_='_30jeq3 _1_WHN1'):
    b=price.get_text()
    list_price.append(b)
  for rating in data_file.find_all("div",class_='_1YokD2 _3Mn1Gg'):
    for i in data_file.find_all("div",class_='_3LWZlK'):
      d=i.get_text()
      list_rating.append(d) 
  for pic in data_file.find_all("img",class_='_396cs4 _3exPp9'):
    img_path=pic.get('src')
    list_pic.append(img_path)  
  for links in data_file.find_all("div",class_='_1AtVbE col-12-12'):
   for i in links.find_all('a',class_='_1fQZEK'):
     list_link.append(i.get('href'))  
   base_url = 'https://www.flipkart.com'
   for i in list_link:
      url_list.append(base_url+str(i))

Enter the page number :49

In [32]:
# len(list_pic)

In [4]:
data_file=bs(data,'html.parser')
#data_file.prettify

In [5]:
# data_file.titel

In [6]:
# laptop_name=data_file.find_all("div",class_='_4rR01T')
# list_name=[]
# for name in laptop_name:
#     a=name.get_text()
#     list_name.append(a)
# list_name

In [7]:
# laptop_price=data_file.find_all("div",class_='_30jeq3 _1_WHN1')
# list_price=[]
# for price in laptop_price:
#   b=price.get_text()
#   list_price.append(b)
# list_price

In [8]:
# laptop_fetures=data_file.find_all("li",class_='rgWa7D(text)')
# list_fetures=[]
# for fetures in laptop_fetures:
#   c=fetures.get_text()
#   list_fetures.append(c)
# list_fetures  
# len(list_fetures)

In [9]:
# laptop_rating= data_file.find_all("div",class_='_3LWZlK')
# list_rating=[]
# for rating in laptop_rating:
#   d=rating.get_text()
#   list_rating.append(d)
# list_rating

In [10]:
# laptop_pic=data_file.find_all("img",class_='_396cs4 _3exPp9')
# # print(laptop_pic)
# list_pic=[]
# for pic in laptop_pic:
#     img_path=pic.get('src')
#     list_pic.append(img_path)
# list_pic
# # len(list_pic)

In [11]:
# laptop_link=data_file.find_all("div",class_='_1AtVbE col-12-12')
# list_link=[]
# for links in laptop_link:
#   for i in links.find_all('a',class_='_1fQZEK'):
#     list_link.append(i.get('href'))

In [12]:
# list_link

In [13]:
# url_list=[]
# base_url = 'https://www.flipkart.com'
# for i in list_link:
#   url_list.append(base_url+str(i))

In [14]:
# for i in url_list:
#   print(i)

In [24]:
dict={
    'Laptop Name':list_name[0:960],
    # 'Latop Fetures':list_fetures,
    'Price':list_[0:960],
    'Rating':list_rating[0:960],
    'Picture': list_pic[0:960],
    # 'Link': url_list[0:960]
    }

In [25]:
df=pd.DataFrame(dict)
df.head(10)

,Laptop Name,Price,Rating,Picture
0,realme Book (Slim) Core i3 11th Gen - (8 GB/25...,"₹32,999",4.4,https://rukminim1.flixcart.com/image/312/312/k...
1,ASUS VivoBook K15 OLED Ryzen 7 Octa Core 5700U...,"₹69,990",4.3,https://rukminim1.flixcart.com/image/312/312/l...
2,Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...,"₹45,990",4.3,https://rukminim1.flixcart.com/image/312/312/k...
3,DELL Inspiron Athlon Dual Core 3050U - (8 GB/2...,"₹30,899",4.2,https://rukminim1.flixcart.com/image/312/312/l...
4,MSI Modern 14 Ryzen 5 Hexa Core 5500U - (8 GB/...,"₹39,990",4.4,https://rukminim1.flixcart.com/image/312/312/x...
5,HP Pavilion Ryzen 5 Hexa Core 5600H - (8 GB/51...,"₹58,990",4.5,https://rukminim1.flixcart.com/image/312/312/k...
6,ASUS Vivobook 15 Core i3 10th Gen - (8 GB/256 ...,"₹27,990",4.5,https://rukminim1.flixcart.com/image/312/312/k...
7,acer Aspire 7 Ryzen 5 Hexa Core 5500U - (8 GB/...,"₹49,990",4.4,https://rukminim1.flixcart.com/image/312/312/k...
8,ASUS VivoBook 14 (2022) Ryzen 5 Quad Core 3500...,"₹35,990",4.2,https://rukminim1.flixcart.com/image/312/312/l...
9,Lenovo IdeaPad 3 Core i3 11th Gen - (8 GB/512 ...,"₹40,990",4.2,https://rukminim1.flixcart.com/image/312/312/k...

In [31]:
df.to_csv('SSD_Laptop Price')