<a href="https://colab.research.google.com/github/Ashish-kundu/google_colab/blob/main/Web_Scraping_on_SSD_Laptop_in_Flipkart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import urllib.request
import pandas as pd

In [2]:
#for pagination 

list_name = []
list_price=[]
list_rating=[]
list_pic=[]
list_link=[]
url_list=[]

pg_no=int(input("Enter the page number :"))
for i in range(1,pg_no+1):
  url="https://www.flipkart.com/search?q=laptop+ssd+price&sid=6bo%2Cb5g&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_3_20_na_pm_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_20_na_pm_na&as-pos=3&as-type=HISTORY&suggestionId=laptop+ssd+price%7CLaptops&requestId=ad4a4ef7-7f89-4bd6-9332-be45ed78a278&page="+str(i)
  html_content=requests.get(url)
  data=html_content.content
  data_file = bs(data,'html.parser')
  for name in data_file.find_all("div",class_='_4rR01T'):
    a=name.get_text()
    list_name.append(a)
  for price in data_file.find_all("div",class_='_30jeq3 _1_WHN1'):
    b=price.get_text()
    list_price.append(b)
  for rating in data_file.find_all("div",class_='_1YokD2 _3Mn1Gg'):
    for i in data_file.find_all("div",class_='_3LWZlK'):
      d=i.get_text()
      list_rating.append(d) 
  for pic in data_file.find_all("img",class_='_396cs4 _3exPp9'):
    img_path=pic.get('src')
    list_pic.append(img_path)  
  for links in data_file.find_all("div",class_='_1AtVbE col-12-12'):
   for i in links.find_all('a',class_='_1fQZEK'):
     list_link.append(i.get('href'))  
   base_url = 'https://www.flipkart.com'
   for i in list_link:
      url_list.append(base_url+str(i))

Enter the page number :49

In [ ]:
# len(list_rating)

1270

In [4]:
data_file=bs(data,'html.parser')
#data_file.prettify

In [ ]:
# data_file.titel

In [ ]:
# laptop_name=data_file.find_all("div",class_='_4rR01T')
# list_name=[]
# for name in laptop_name:
#     a=name.get_text()
#     list_name.append(a)
# list_name

[]

In [ ]:
# laptop_price=data_file.find_all("div",class_='_30jeq3 _1_WHN1')
# list_price=[]
# for price in laptop_price:
#   b=price.get_text()
#   list_price.append(b)
# list_price

[]

In [ ]:
# laptop_fetures=data_file.find_all("li",class_='rgWa7D(text)')
# list_fetures=[]
# for fetures in laptop_fetures:
#   c=fetures.get_text()
#   list_fetures.append(c)
# list_fetures  
# len(list_fetures)

In [ ]:
# laptop_rating= data_file.find_all("div",class_='_3LWZlK')
# list_rating=[]
# for rating in laptop_rating:
#   d=rating.get_text()
#   list_rating.append(d)
# list_rating

[]

In [ ]:
# laptop_pic=data_file.find_all("img",class_='_396cs4 _3exPp9')
# # print(laptop_pic)
# list_pic=[]
# for pic in laptop_pic:
#     img_path=pic.get('src')
#     list_pic.append(img_path)
# list_pic
# # len(list_pic)

[]

In [ ]:
# laptop_link=data_file.find_all("div",class_='_1AtVbE col-12-12')
# list_link=[]
# for links in laptop_link:
#   for i in links.find_all('a',class_='_1fQZEK'):
#     list_link.append(i.get('href'))

In [ ]:
# list_link

[]

In [ ]:
# url_list=[]
# base_url = 'https://www.flipkart.com'
# for i in list_link:
#   url_list.append(base_url+str(i))

In [ ]:
# for i in url_list:
#   print(i)

In [6]:
dict={
    'Laptop Name':list_name[0:984],
    # 'Latop Fetures':list_fetures,
    'Price':list_price[0:984],
    'Rating':list_rating[0:984],
    'Picture': list_pic[0:984],
    # 'Link': url_list[0:984]
    }

In [7]:
df=pd.DataFrame(dict)
df.head(10)

,Laptop Name,Price,Rating,Picture
0,Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...,"₹47,990",4.3,https://rukminim1.flixcart.com/image/312/312/k...
1,ASUS Ryzen 3 Dual Core 3250U 3rd Gen - (8 GB/2...,"₹32,990",4.3,https://rukminim1.flixcart.com/image/312/312/k...
2,ASUS VivoBook 14 (2021) Ryzen 5 Quad Core 3500...,"₹38,990",4.4,https://rukminim1.flixcart.com/image/312/312/l...
3,ASUS VivoBook K15 OLED Ryzen 7 Octa Core 5700U...,"₹61,990",4.3,https://rukminim1.flixcart.com/image/312/312/l...
4,Lenovo Ideapad Gaming 3 Ryzen 7 Octa Core 5800...,"₹69,990",4.8,https://rukminim1.flixcart.com/image/312/312/k...
5,acer Aspire 7 Ryzen 5 Hexa Core 5500U - (8 GB/...,"₹52,990",4.5,https://rukminim1.flixcart.com/image/312/312/k...
6,ASUS ROG Strix G15 Ryzen 7 Octa Core 4800H - (...,"₹89,990",4.8,https://rukminim1.flixcart.com/image/312/312/l...
7,ASUS TUF Gaming F15 Core i5 10th Gen - (8 GB/5...,"₹52,990",4.3,https://rukminim1.flixcart.com/image/312/312/l...
8,Infinix X1 Slim Series Core i3 10th Gen - (8 G...,"₹29,990",4.3,https://rukminim1.flixcart.com/image/312/312/l...
9,ASUS Vivobook 15 Ryzen 7 Quad Core AMD R7-3700...,"₹46,990",4.5,https://rukminim1.flixcart.com/image/312/312/l...

In [ ]:
pd.to_csv()